<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Xtento_OrderExport" setup_version="2.7.4">
        <sequence>
            <module name="Magento_Backend"/>
            <module name="Xtento_XtCore"/>
        </sequence>
    </module>
</config>
<!--
/**
 * Product:       Xtento_OrderExport
 * ID:            /wnS7JP8C2nvb1jEK6bWS5TtKkvrPoanLM2NpRZ9JJU=
 * Last Modified: 2018-12-28T16:10:54+00:00
 * File:          app/code/Xtento/OrderExport/etc/module.xml
 * Copyright:     Copyright (c) XTENTO GmbH & Co. KG <info@xtento.com> / All rights reserved.
 */
-->